.img-3776-1-icon {
  	position: absolute;
  	top: -22px;
  	left: -20px;
  	width: 1479px;
  	height: 1068px;
  	object-fit: cover;
}
.crystal {
  	margin: 0;
}
.crystal-beauty- {
  	position: absolute;
  	top: 235px;
  	left: 120px;
  	font-size: 96px;
  	letter-spacing: -0.25px;
  	line-height: 97px;
  	font-family: Righteous;
  	display: inline-block;
  	width: 444px;
  	height: 200px;
}
.logo-crystal-krug-2-icon {
  	position: absolute;
  	top: 71px;
  	left: 120px;
  	width: 149px;
  	height: 140px;
  	object-fit: cover;
}
.c93c9df8d0a35831fdcfef234-1-icon {
  	position: absolute;
  	top: -53px;
  	left: 664px;
  	width: 830px;
  	height: 989px;
  	object-fit: cover;
}
.div {
  	position: absolute;
  	top: 435px;
  	left: 120px;
  	font-size: 20px;
  	letter-spacing: -0.25px;
  	line-height: 43px;
  	font-weight: 500;
  	display: inline-block;
  	width: 803px;
  	height: 86px;
}
.group-child {
  	position: absolute;
  	top: 1.15px;
  	left: 0px;
  	border-radius: 100px;
  	background-color: rgba(235, 94, 134, 0.23);
  	border: 1px solid rgba(235, 94, 134, 0.23);
  	box-sizing: border-box;
  	width: 285px;
  	height: 42.9px;
}
.b {
  	white-space: pre-wrap;
}
.span {
  	font-weight: 500;
  	font-family: 'Roboto Flex';
}
.txt {
  	width: 100%;
}
.div1 {
  	position: absolute;
  	top: 0px;
  	left: 117.77px;
  	letter-spacing: 0.03em;
  	line-height: 106.7%;
  	display: flex;
  	align-items: center;
  	width: 167.2px;
  	height: 33.2px;
}
.group-wrapper {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 285px;
  	height: 44px;
}
.group-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 100px;
  	background-color: #eb5e86;
  	width: 117.8px;
  	height: 43.8px;
}
.b1 {
  	position: absolute;
  	top: 7.89px;
  	left: 28.26px;
  	letter-spacing: 0.03em;
  	line-height: 106.7%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 63.6px;
  	height: 29.2px;
}
.rectangle-group {
  	position: absolute;
  	top: 0.17px;
  	left: 0px;
  	width: 117.8px;
  	height: 43.8px;
  	font-family: 'Roboto Flex';
}
.group-parent {
  	position: absolute;
  	top: 71px;
  	left: 1035px;
  	width: 285px;
  	height: 44px;
  	text-align: center;
  	font-family: Catamaran;
}
.group-inner {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 98px;
  	background-color: rgba(235, 94, 134, 0.7);
  	width: 132.2px;
  	height: 43px;
}
.b2 {
  	position: absolute;
  	top: 0px;
  	left: 5.04px;
  	letter-spacing: 0.03em;
  	line-height: 106.7%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 120.8px;
  	height: 43px;
}
.rectangle-container {
  	position: absolute;
  	top: 0px;
  	left: 509.82px;
  	width: 132.2px;
  	height: 43px;
}
.b3 {
  	position: absolute;
  	top: 0px;
  	left: 28.95px;
  	letter-spacing: 0.03em;
  	line-height: 106.7%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 74.3px;
  	height: 43px;
}
.group-div {
  	position: absolute;
  	top: 0px;
  	left: 339.88px;
  	width: 132.2px;
  	height: 43px;
}
.b4 {
  	position: absolute;
  	top: 5px;
  	left: 6.45px;
  	letter-spacing: 0.03em;
  	line-height: 106.7%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 120.9px;
  	height: 34px;
}
.rectangle-parent1 {
  	position: absolute;
  	top: 0px;
  	left: 169.94px;
  	width: 132.2px;
  	height: 43px;
}
.b5 {
  	position: absolute;
  	top: 0px;
  	left: 15.47px;
  	letter-spacing: 0.03em;
  	line-height: 106.7%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 97px;
  	height: 43px;
}
.rectangle-parent2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 132.2px;
  	height: 43px;
}
.group-container {
  	position: absolute;
  	top: 73px;
  	left: 323px;
  	width: 642px;
  	height: 43px;
  	text-align: center;
}
.gotovoe-child {
  	position: absolute;
  	top: 547px;
  	left: 120px;
  	border-radius: 100px;
  	background-color: #eb5e86;
  	width: 297px;
  	height: 72px;
}
.b6 {
  	position: absolute;
  	top: 545px;
  	left: 131px;
  	font-size: 23px;
  	letter-spacing: 0.08em;
  	line-height: 108%;
  	display: flex;
  	text-align: center;
  	align-items: center;
  	justify-content: center;
  	width: 275px;
  	height: 72px;
}
.gotovoe-item {
  	position: absolute;
  	top: 640px;
  	left: 120px;
  	border-radius: 50px;
  	background-color: rgba(153, 153, 153, 0.5);
  	width: 1200px;
  	height: 96px;
}
.youtube-logo-black-1-icon {
  	position: absolute;
  	top: 643px;
  	left: 1035px;
  	width: 91px;
  	height: 81px;
  	object-fit: cover;
}
.youtube-logo-black-1-1 {
  	position: absolute;
  	top: 651px;
  	left: 1151px;
  	width: 77px;
  	height: 74px;
  	object-fit: cover;
}
.div2 {
  	position: absolute;
  	top: 669px;
  	left: 209px;
  	font-size: 16px;
  	font-family: Inter;
  	display: inline-block;
  	width: 394px;
  	height: 37px;
}
.crystal-beauty-home {
  	position: absolute;
  	top: 684px;
  	left: calc(50% - 92px);
  	font-size: 16px;
  	font-family: Inter;
  	display: inline-block;
  	width: 295px;
  	height: 33px;
}
.gotovoe {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 795px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 12px;
  	color: #fff;
  	font-family: 'Roboto Flex';
}
